
<div class= "container">
    <h1 class="display-3">Hello  <%= @user.email %></h1>
    <h3><%=  link_to 'Add A New Farm', new_farm_path %></h3>
    <hr>

 <% @farms.each do |farm|%>  
 
    <tr>
    <td><img class="img-thumbnail" src=<%=farm.image%> height="400" width="400"></td><br>
    <td><%= link_to farm.name, farm_path(farm) , class: "bg-dark text-danger"%></td><br>
    <td><%=farm.price%> SR</td><br>
    <td><%=farm.location%></td><br>
    </tr>
    <% end %>
  
 
</div>

  