<div class= "container">
<% if params[:id2] == "1" %>
    <script>
        alert("You Are rented this farm")
    </script>
<% end %>
<h1><img img class="img-thumbnail" src=<%=@farm.image%> height="150" width="400"></h1>

<h1><%= @farm.name  %></h1>
<h1><%= @farm.price %> SR</h1>
<h1><%= @farm.location  %></h1>
<% if current_user.id == @farm.user_id %>
    <%= link_to 'Edit', edit_farm_path(@farm), class: "alert alert-primary" %> 
    <%= link_to 'Delete', farm_path(@farm), method: :delete , class: "alert alert-primary"%>
<%else%>
<%= link_to 'Rent', alert_path(@farm, 1) , class: "alert alert-primary"%> 
    
<%end%>
</div>

